@font-face{
    font-family: Anton;
    src: url(../fonts/Anton-Regular.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



body {
    background-image: url("../images/kartinkijane.ru-22793.jpg");
    background-size: cover;
}

header {
    background: #1c3f77;
}

#imgphp {
    width: 80%;
    padding: 30px 0;
}

#headphp {
    color: #e6ead5;
    font-size: 50px;
    font-family: Anton;
}

#navphp {
    background-color: #343a40;
}

.navbar-nav {
    font-size: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    display: block;
    color: #17a2b8;
}

.articles {
    border: 2px solid #9999ff;
    background-color: #ccffff;
    font-family: Roboto;
}

.article {
    padding: 20px 0 20px 10px;
}

.date {
    font-size: 18px;
    margin-left: 80%;
}

.art_text {
    padding: 15px;
}

p {
    margin-bottom: 40px;
    font-size: 20px;
}

footer {
    background: #1c3f77;
    margin: 0;
    padding-bottom: 40px;
}

footer>p {
    color: white;
    font-size: 28px;
    padding: 50px 0 20px 30%;
}
